{% extends 'base.html' %}


<title>{% block titulo %} ¡Registro Exitoso! {% endblock %}</title>

{% block navegador %}
 <nav class="flex items-center gap-8">
    <a class="text-white text-sm font-medium hover:opacity-80 transition-opacity" href="{% url 'inicio' %}">Inicio</a>
    <a class="text-white/80 text-sm font-medium hover:text-white transition-colors" href="{% url 'inicio_profesores' %}">Profesores</a>
    <a class="text-white/80 text-sm font-medium hover:text-white transition-colors" href="{% url 'lista_profesores' %}">Lista de Profesores</a>
    <a class="text-white/80 text-sm font-medium hover:text-white transition-colors" href="{% url 'registrar_profesor' %}">Registrar Profesor</a>
</nav>
{% endblock %}

{% block contenido %}
     <section class="bg-[#eeeeee] border-b border-border-color py-8">
            <div class="max-w-7xl mx-auto px-6">
                <h1 class="text-2xl font-bold text-slate-900 tracking-tight">¡Registro Exitoso del Nuevo Profesor!</h1>
                <nav class="flex text-xs text-slate-500 mt-1 gap-2">
                    <!-- <a class="hover:underline" href="#">Dashboard</a>
                    <span>/</span>
                    <span class="text-slate-900">Current Section</span> -->
                </nav>
            </div>
        </section>


        <main class="flex-grow w-full max-w-7xl mx-auto p-8">
            <div class="bg-white border border-border-color rounded-sm min-h-[500px] flex items-center justify-center p-12">
                <div class="text-center">
                    <p class="text-slate-400 font-medium text-lg uppercase tracking-widest">Registro del Nuevo Profesor</p>
                    <p class="text-slate-300 text-sm mt-2">El nuevo profesor ha sido ingresado correctamente a la Base de Datos</p>
                    <br>
                     <h2>Resumen de los datos guardados:</h2>
                    <ul>
                        <li><strong>Nombre: </strong>{{ nombre_profesor }}</li>
                        <li><strong>Apellido: </strong>{{ apellido_profesor }}</li>
                        <li><strong>Edad: </strong>{{ edad_profesor }}</li>
                        <li><strong>Curso a cargo: </strong>{{ curso_profesor }}</li>
                    </ul>
                </div>
            </div>
        </main>

{% endblock %}